<div class="card">
  <div class="card-header">
    <%= link_to certificate.comment, order_certificate_path(@order, certificate) %>
  </div>
  <div class="card-body">
    <%= certificate.comment %>

  </div>
  <div class="card-footer">

  </div>
</div>
